.task-input{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #333;
    box-shadow: 0 0 2px whitesmoke;
    margin: 20px auto;
    border-radius: 10px;
}

.input{
    flex: 1;
    height: auto;
    border: none;
    outline: none;
    background: transparent;
    /* color: white; */
    font-size: 16px;
    margin-left: 10px;
}
.input::placeholder{
    color: white;
    font-size: 12px;
}

.task-input button{
    width: auto;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    justify-self:flex-end;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #000;
    color: white;
    box-shadow: 0 0 2px whitesmoke;
    font-size: 16px;
}